USE [master]
GO
/****** Object:  Database [TourMate_Message]    Script Date: 7/5/2025 1:48:24 PM ******/
CREATE DATABASE [TourMate_Message]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Message', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Message.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Message_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Message_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Message].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Message]
GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 7/5/2025 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[conversationId] [int] IDENTITY(1,1) NOT NULL,
	[account1Id] [int] NOT NULL,
	[account2Id] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileStorage]    Script Date: 7/5/2025 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileStorage](
	[id] [varchar](255) NOT NULL,
	[fileName] [nvarchar](max) NOT NULL,
	[downloadUrl] [nvarchar](max) NOT NULL,
	[uploadTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 7/5/2025 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[messageId] [int] IDENTITY(1,1) NOT NULL,
	[conversationId] [int] NOT NULL,
	[senderId] [int] NOT NULL,
	[messageText] [nvarchar](max) NOT NULL,
	[sendAt] [datetime] NOT NULL,
	[isRead] [bit] NOT NULL,
	[isEdited] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[messageTypeId] [int] NULL,
	[fileId] [varchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageType]    Script Date: 7/5/2025 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageType](
	[messageTypeId] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
